  :root {
      --primary: #028090!important;
      --primary-light:#caffbf!important;
      --primary-dark:#ffd6a5!important;
      --secondary: #F2B02C!important;
      --secondary-light: #5B7886!important;
      --button:#f0f3bd!important;
      --grey:#adb5bd!important;
      --grey-light:#dee2e6!important;
      --grey-dark:#6c757d!important;
      --white: #DDC3BB!important;
      --dark: #32ADC3!important;
    }
