  :root {
      --primary: #89588a!important;
      --secondary: #4d2f51!important;
      --secondary-light: #361c39!important;
      --button:#2f4550!important;
      --white: #150218!important;
      --dark: #1d0b22!important;
    }
