:root {
  --primary: #361C39!important;
  --primary-light: #89588A!important;
  --secondary: #2F4550!important;
  --grey: #A5ACB2!important;
  --grey-light: #dee2e6!important;
  --grey-dark: #6c757d!important;
  --dark: #1D0B22!important;
  --white: #F7F3F7!important;
}
