:root {
      --primary: #c8ccce!important;
      --primary-light:#eaeaea!important;
      --primary-dark:#616163!important;
      --secondary: #616163!important;
      --secondary-light: #68a691!important;
      --button:#d7fcf3!important;
      --grey:#adb5bd!important;
      --grey-light:#dee2e6!important;
      --grey-dark:#6c757d!important;
      --white: #fff!important;
      --dark: #0a0908!important;
}
