:root {
  --primary: #8E99A4!important;
  --primary-light: #BAC2C9!important;
  --secondary: #616163!important;
  --grey: #ADB5BD!important;
  --grey-light: #DEE2E6!important;
  --grey-dark: #6C757D!important;
  --dark: #1D0B22!important;
  --white: #F4F4F4!important;
}
