:root {
  --primary: #EEDCD3!important;
  --primary-light: #F9F3F0!important;
  --secondary: #EEDCD3!important;
  --grey: #ADB5BD!important;
  --grey-light: #DEE2E6!important;
  --grey-dark: #6C757D!important;
  --dark: #222222!important;
  --white: #FFFFFF!important;
}
