:root {
      --primary: #ffe065!important;
      --primary-light:#ebebd3!important;
      --primary-dark:#50514f!important;
      --secondary: #f25f5c!important;
      --secondary-light: #a210fde0!important;
      --button:#70c1b3!important;
      --grey:#adb5bd!important;
      --grey-light:#e7280f!important;
      --grey-dark:#6c757d!important;
      --white: #fff!important;
      --dark: #f11414!important;
}
