<div class="container mt-5">
  <h1>Create your new landing page!</h1>
  <div class="row">
    <div class="col-5 col-sm-12 col-md-5">
      <div class="panel">
       <%= simple_form_for(@project) do |f| %>
          <%= f.input :layout, collection: Layout.all %>

          <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="col-7 col-sm-12 col-md-7">
      <div class="iframe">
        <iframe src="<%= project_layouts_path(@project) %>" frameborder="0"></iframe>
        <p>Test</p>
      </div>
    </div>
  </div>
</div>
