:root {
  --primary: #046865;
  --secondary: #A13D63;
  --secondary-light: #F7A278;
  --white: #ffbe0b;
  --dark: #333;
}

/* Main styling */
body {
  padding: 0;
  margin: 0;
}
nav {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--primary);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
}

h3.logo {
  width: auto;
  color: var(--white);
}

.main {
  max-width: 900px;
  margin: auto;
  padding: 0 50px;
}

.row.flex {
  display: flex;
}

.col-6 {
  width: 50%;
}
.col-6:first-child {
  padding-right: 15px;
}
.col-6:last-child {
  padding-left: 15px;
}

/* Banner */
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 50px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);
  text-align: center;
  border-radius: 3px;
  margin-bottom: 60px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Main Heading */
.main-heading {
  color: var(--black);
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Paragraph */
.paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
}

/* Button */

.btn-wrap {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 2px;
  text-decoration: none;
  color: var(--white);
  transition: all .3s;
  display: inline-block;
  margin: 20px auto;
}


.btn:hover {
  background-color: var(--secondary);
}

/* Cards */
.card-wrapper-vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-wrapper-vertical .column {
  margin: 10px;
}

.card-wrapper-vertical .column:first-child {
  margin-left: 0;
}

.card-wrapper-vertical .column:last-child {
  margin-right: 0;
}

.card-wrapper-vertical .card {
  margin-bottom: 20px;
}

.card-wrapper-vertical img {
  width: 100%;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
}

.card-wrapper .card {
  margin: 10px;
}
.card-wrapper .card:first-child {
  margin-left: 0;
}
.card-wrapper .card:last-child {
  margin-right: 0;
}

.card,
.card-long {
  overflow: hidden;
  background: var(--secondary-light);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border-radius: 3px;
}

.card-long {
  flex-direction: row;
  margin-bottom: 140px;
  max-width: none;
}

.card-long img,
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-long h2 {
  font-size: 24px;
  font-weight: bold;
}

.card-long .card-product-infos {
  padding: 10px 64px 20px;
}

.card .card-product-infos {
  padding: 20px;
}

/* New Shop */

 .footer {
  margin-top: 100px;
  background: #D27675;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: black;
}
      .footer-links {
        display: flex;
        align-items: center;
      }
      .footer-links a {
        color: white;
        opacity: 0.6;
        text-decoration: none;
        font-size: 24px;
        padding: 0px 10px;
      }
      .footer-links a:hover {
        opacity: 1;
      }
      .footer .fa-heart {
        color: #D23333;
    }

     .banner h2 {
      color: white;
      opacity: 60%;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      margin-top: -10px;
       }

    .card {
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      background-color: #F4EEE3;
      color: white;
      margin-top: 24px;
      }

    .card img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .card h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 4px;
      font-family: 'Balsamiq Sans';
      color: #382423;
    }

    .card p {
      font-size: 14px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 4px;
      margin-top: 4px;
      color: #382423;
    }

      .banner-title {
      position: center;
      margin-left: 100px;
      margin-top: auto;
    }

    .middle-cards {
      display: flex;
      flex-direction: row;

      height: 300px;

      margin: auto;
      justify-content: center;
    }

    .middle-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .card-middle-big {
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: 15px;
    }

    .card-middle-right {
      justify-content: space-between;
    }

    .card-middle {
      max-height: 120px;
    }

    .content {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
       margin: 20px;
        padding: 30px;
        background-color: #F4EEE3;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
    }
    hr {
      height: 1px;
      max-width: 60%;
      margin: auto ;
      margin-top:80px;
      margin-bottom: 80px;

    }

    /* New Photo */

    .card-photo {
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #F4EEE3;
      color: white;
      margin-top: 24px;
}

    /* New Business */

     .row {
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
      }

      .col-6 p {
        font-size: 18px;
        line-height: 1,5px;
      }


      .bottom-wrap p {
        font-size: 20px;
        line-height: 1,7px;
      }

      #business nav div {
        width: 100%;
        max-width: 900px;
        margin: auto;
        text-align: left;
      }


       /* Blog layout */

        .big-article {
        max-width: auto;
      }

      .big-card {
        border-radius: 5px;
        margin: 20px;
        width: auto;
        overflow: hidden;
        /*background: var(--primary-light);
        color: var(--white);*/
        display: flex;
        flex-direction: column;
        align-items: center;
        /*color: var(--white);*/
        background: #F4EEE3;

      }

      .text--center {
        text-align: center;
        margin: auto;
      }

       .card p {
        font-size: 16px;
        line-height: 1.4;
        opacity: .7;
        margin-bottom: 0;
        margin-top: 8px;
      }

       .big-card .card-product-infos {
        padding: 20px 40px 0;
      }

      .big-card img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }

      /*.big-card:hover {
        background: var(--primary);
      }*/

      .card-bottom {
        /*color: var(--white);*/
        border-radius: 5px;
        overflow: hidden;
        background: #F4EEE3;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        max-height: 250px;
        margin: 20px;
      }

      .card-bottom-product-infos {
        padding: 20px;
        /*color: var(--white);*/
        background: #F4EEE3;
        color: #382423;
       /* color: var(--white);*/
      }

      .card-bottom-product-infos p {
        margin: 0;
      }

      /*.card-bottom:hover {
        background: var(--primary);
      }*/

      .center {
        display: flex;
        flex-direction: row;
      }

       .content:hover {
        background: var(--primary);
      }
      .content p {
        font-size: 25px;
      }


