:root {
  --primary: #000;
  --secondary: #666;
  --secondary-light: #aaa;
  --grey: #666;
  --grey-light: #F4F4F4;
  --white: #fff;
}

body {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

nav {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--white);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40px;
  text-align: center;
  margin: auto;

}

h3.logo {
  width: auto;
  color: var(--primary);
}

.main {
  max-width: auto;
  margin: auto;
}

.container {
  max-width: 900px;
  margin: 150px auto;
  padding: 0 50px;
}

.row.flex {
  display: flex;
}

.col-6 {
  width: 50%;
  margin:50px;
}

.col-6:first-child {
  padding-right: 15px;
}
.col-6:last-child {
  padding-left: 15px;
}

/* Banner */
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 50px;
  background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(https://source.unsplash.com/random);
  text-align: center;
  margin-bottom: 40px;
}
.banner h1 {
  margin: 0;
  color: var(--primary);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Main Heading */
.main-heading {
  color: var(--primary);
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
  margin: 50px;
}

/* Paragraph */
.paragraph {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;

}

/* Button */

.btn-wrap {
  margin: auto auto 100px;
  text-align: center;
  margin-top: 50px;
}

.btn {
  padding: 20px 60px;
  background-color: var(--secondary);
  border-color: var(--secondary);
  text-decoration: none;
  color: var(--white);
  transition: all .3s;
  display: inline-block;
  margin-top:24px;
}

.btn:hover {
  background-color: var(--secondary-light);
}

/* Cards */
.card-wrapper-vertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-wrapper-vertical .column {
  margin: 10px;
}

.card-wrapper-vertical .column:first-child {
  margin-left: 0;
}

.card-wrapper-vertical .column:last-child {
  margin-right: 0;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 100px;
}

.card-wrapper .card {
  margin: 15px;
  padding: 12px;
}
.card-wrapper .card:first-child {
  margin-left: 0;
}
.card-wrapper .card:last-child {
  margin-right: 0;
}

.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  margin-bottom: 8px;
}

.center{
  margin: auto;
  text-align: center;
}

.card-long {
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 68px;
  border-radius: 3px;
  margin-bottom: 140px;
}

.card-long img {
  height: 60%;
  width: 60%;
  object-fit: cover;
}

.card-long h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  font-weight: 700;
}

.card-long p {
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 12px;

}
.card-long .card-product-infos {
  padding: 20px 64px 20px;
  vertical-align: baseline;
}



* New Shop */

/ .footer {
  margin-top: 100px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: black;
}


      .footer-links {
        display: flex;
        align-items: center;
      }

      .footer-links a {
        color: grey;
        opacity: 0.6;
        text-decoration: none;
        font-size: 24px;
        padding: 0px 10px;
      }
      .footer-links a:hover {
        opacity: 1;
      }
      .footer .fa-heart {
        color: #D23333;
    }

     .banner h2 {
      color: white;
      opacity: 60%;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      margin-top: -10px;
       }

    .card {
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      background-color: white;
      color: white;
      margin-top: 24px;
      }

    .card img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .card h3 {
      font-size: 24px;
      font-weight: bold;
      margin: 4px;
      font-family: 'Balsamiq Sans';
      color: #382423;
    }

    .card p {
      font-size: 14px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 4px;
      margin-top: 4px;
      color: #382423;
    }

      .banner-title {
      margin-top: auto;
    }

    .middle-cards {
      display: flex;
      flex-direction: row;

      height: 300px;

      margin: auto;
      justify-content: center;
    }

    .middle-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .card-middle-big {
      display: flex;
      width: 50%;
      flex-direction: column;
      padding: 15px;
    }

    .card-middle-right {
      justify-content: space-between;
    }

    .card-middle {
      max-height: 120px;
    }

    .content {

       margin: 20px;
        padding: 30px;
        background-color: #F4EEE3;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
        overflow: hidden;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    hr {
      height: 1px;
      max-width: 60%;
      margin: auto ;
      margin-top:80px;
      margin-bottom: 80px;

    }

    /* New Photo */

    .card-photo {
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      color: white;
      margin-top: 24px;
      margin-left: 20px;
      margin-right: 20px;
}

    /* New Business */

     .row {
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
      }

      .col-6 p {
        font-size: 18px;
        line-height: 1,5px;
      }


      .bottom-wrap p {
        font-size: 20px;
        line-height: 1,7px;
        margin: 50px;

      }

       .bottom-wrap h2 {
        margin:50px;
      }

      #business nav div {
        width: 100%;
        max-width: 900px;
        margin: auto;
        text-align: left;
      }


       /* Blog layout */

        .big-article {
        max-width: auto;
      }

      .big-card {
        border-radius: 5px;
        margin: 20px;
        width: auto;
        /*background: var(--primary-light);
        color: var(--white);*/
        display: flex;
        flex-direction: column;
        align-items: center;
        /*color: var(--white);*/
        background: white;
        padding:12px;
        overflow: hidden;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

      }

      .text--center {
        text-align: center;
        margin: auto;
      }

       .text--center p {
        font-size: 24px;
      }

       .card p {
        font-size: 16px;
        line-height: 1.4;
        opacity: .7;
        margin-bottom: 0;
        margin-top: 8px;
      }

       .big-card .card-product-infos {
        padding: 20px 40px 0;
      }

      .big-card img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }

      /*.big-card:hover {
        background: var(--primary);
      }*/

      .card-bottom {
        /*color: var(--white);*/
        border-radius: 5px;
        overflow: hidden;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        max-height: 250px;
        margin: 20px;
        overflow: hidden;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }

      .card-bottom-product-infos {
        padding: 20px;
        /*color: var(--white);*/
        background: white;
        color: #382423;
       /* color: var(--white);*/
      }

      .card-bottom-product-infos p {
        margin: 0;
      }

      /*.card-bottom:hover {
        background: var(--primary);
      }*/

      .center {
        display: flex;
        flex-direction: row;
      }

       .content:hover {
        background: var(--primary);
      }
      .content p {
        font-size: 25px;
      }




