.footer {
    bottom: 0px;
    text-align: center;
    background-color: #7facafcc;
    color: $light;
    width: 100%;
    margin-top:50px;
    margin-bottom: 0;
    height: 100px;
    p, ul{
      margin: 0;
    }
  
    li {
      display: inline;
      margin: auto;
      text-align: center;
      font-size: 30px;

    }
  
    .fa {
      padding: 18px;
      font-size: 34px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      margin: 0 auto;
      color: $light-gray;
      text-shadow:2px 3px rgba(255,165,0,.75)
    }
  
    .fa:hover {
      color: #f6ca4f;
      transition: 1s;
    }
  }
  
