.label-wrap {
  width: calc(50% - 10px);
  margin-right: 10px;
}
.color-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
}
.color {
  height: 80px;
}

.color-label {
  display: flex;
  align-items: center;
  text-align: center;
  color: #54aaaf;
  text-align: center;
  padding: 0 0 10px;
  margin-left: 0;
  height: 130px;
  flex-direction: column;
  justify-content: space-between;
}

input[type="radio"], input[type="checkbox"] {
  visibility: hidden;
  margin-left: -15px;
}

.fixed {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 50px;
}

#form-control is-valid select optional {
  background: transparent;
  border: none !important;
  border-bottom: 2px solid #ccc;
  outline:none !important;
  box-shadow:none !important;
}

input:focus ~ .select optional {
  background-color: #4EA6EA;
}

.dropdown-borderless {
  height: 50px;
  border-bottom: 2px #489ca9 solid;
}

.button-group-green {
  flex-wrap: wrap;
  display: flex;
}

.form-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  left: 0;
  z-index: 1000;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -1px 10px 0px rgba(0, 0, 0, 0.1);
}
