.devise-container {
  background: $white;
  padding: 50px;
  border-radius: 17px;
  box-shadow: 0 2px 30px rgba(0,0,0,.1);
  margin-bottom: 25px;
  margin: 0 auto;
  margin-top:10%;
  justify-content: center;
}

.login-container {
  min-height: calc(100vh - 240px);
}
