.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar {
  background: white;
  height: 60px;
}

.navbar-brand * {
  margin-bottom: 0;
}
